@page "/LightCurves/Add"
@inject ILightCurveService LightCurveService
@attribute [Authorize(Roles = "User,Administrator")]
<h3>AddLightCurve</h3>

<EditForm Model="_lightCurveAdd" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator/>
    <div class="form-group my-3">
        <label for="name">Name</label>
        <InputText @bind-Value="_lightCurveAdd.Name" id="name" class="form-control"/>
        <ValidationMessage For="@(() => _lightCurveAdd.Name)"/>
    </div>
    <div class="form-group my-3">
        <label for="value">Value</label>
        <InputNumber @bind-Value="_lightCurveAdd.Value" id="value" class="form-control"/>
        <ValidationMessage For="@(() => _lightCurveAdd.Value)"/>
    </div>
    <div class="form-group my-3">
            <label for="starId">StarId</label>
            <InputNumber @bind-Value="_lightCurveAdd.StarId" id="starId" class="form-control"/>
            <ValidationMessage For="@(() => _lightCurveAdd.StarId)"/>
        </div>
    <button type="submit" class="btn btn-primary btn-lg">Add Light Curve</button>

</EditForm>


@code {
    private LightCurveAdd _lightCurveAdd { get; set; } = new();

    private async Task HandleSubmit()
    {
        var result = await LightCurveService.AddLightCurve(_lightCurveAdd);
    }

}