@page "/LightCurves/Add"
@using System.Text.RegularExpressions
@inject ILightCurveService LightCurveService

@attribute [Authorize(Roles = "User,Administrator")]
<h3>Nové pozorovanie neznámej hviezdy</h3>

<h3>TODo</h3>

@code {

}