@page "/LightCurves"
@inject ILightCurveService LightCurveService
<h3>Svetelné krivky</h3>

@if (_lightCurves is null)
{
    <Loader/>
}
else
{
    if (_lightCurves.Count == 0)
    {
        <h4>Neexistujú žiadne svetelné krivky.</h4>
    }
    else
    {
        foreach (var curve in _lightCurves)
        {
            <a href="@Endpoints.ClientLightCurveGetSingle/@curve.Id">@curve.Id - ----</a>
            <br/>
        }
    }
}

@code {
    private List<LightCurveDTO>? _lightCurves = null;

    protected override async Task OnInitializedAsync()
    {
        _lightCurves = await LightCurveService.GetLightCurves();
    }

}