@page "/LightCurves"
@inject ILightCurveService LightCurveService
<h3>Svetelné krivky</h3>

@if (_lightCurves is null)
{
    <Loader/>
}
else
{
    <section>
        @if (_lightCurves.Count == 0)
        {
            <h4>Neexistujú žiadne svetelné krivky.</h4>
        }
        else
        {
            <LightCurveListWithValues Curves="@_lightCurves"/>
        }
    </section>
}

@code {
    private List<LightCurveDTO>? _lightCurves { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _lightCurves = await LightCurveService.LightCurveListGet();
        GetValuesForCurves();
    }

    private async Task GetValuesForCurves()
    {
        foreach (var curve in _lightCurves)
        {
            var response = await LightCurveService.LightCurveSingleValuesGet(curve.Id);
            if (response.Success)
            {
                curve.Values = response.Data;
                StateHasChanged();
            }
        }
    }

}