@page "/Stars"
@inject IStarService StarService
<h3>Hviezdy</h3>

@if (_stars.Count == 0)
{
    <Loader/>
}
else
{
    @if (_stars.Count == 0)
    {
        <h4>Neexistujú žiadne hviezdy.</h4>
    }
    else
    {
        <ul>
            @foreach (var star in _stars)
            {
                <li>
                    <a href="@Endpoints.ClientStarSingleGet/@star.Id">@star.Name</a>
                </li>
            }
        </ul>
    }
}

@code {
    private List<StarDTO> _stars = new();

    protected override async Task OnInitializedAsync()
    {
        _stars = await StarService.GetStarsAsync();
    }

}