@page "/Stars/Drafts"
@inject IStarDraftService StarDraftService
<h3>Moje hviezdy</h3>

@if (Drafts is null)
{
    <Loader/>
}
else
{
    <section>
        @if (Drafts.Count == 0)
        {
            <h4>Nemáte žiadne hviezdy. <a href="@Endpoints.ClientStarDraftPost">Vytvoriť hviezdu.</a></h4>
        }
        else
        {
            <ul>
                @foreach (var draft in Drafts)
                {
                    <li>
                        <a href="@Endpoints.ClientStarDraftSingle/@draft.Id">@draft.Name</a>
                    </li>
                }
            </ul>
        }
    </section>
}

@code {
    private List<StarDraft>? Drafts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await StarDraftService.DraftListGet();
        if (response.Success)
        {
            Drafts = response.Data;
        }
    }

}