@page "/stars/{StarId:int}"

@inject IStarService StarService

@if (Star == null)
{
    <h3>Loading details..</h3>
}
else
{
    <h3>Star <strong>@Star.Name</strong></h3>
                   
    @if (Star.LightCurves.Count > 0)
    {
        <h4>Latest Light Curves</h4>
        <ul>
            @foreach (var curve in Star.LightCurves)
            {
                <li><a href="@Endpoints.ClientLightCurveGetSingle/@curve.Id">@curve.Value</a></li>
            }
        </ul>
    }
                   
}

@code {
    [Parameter]
    public int StarId { get; set; }

    private StarDTO? Star { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Star = await StarService.GetStarAsync(StarId);
    }

}