@page "/stars/{StarId:int}"
@using System.Security.Cryptography

@inject IStarService StarService

<h3>Star @StarId</h3>

@if (_star == null)
{
    <h3>Loading details..</h3>
}
else
{
    <h3>@_star.Name</h3>
                   
    @if (_star.LightCurves.Count > 0)
    {
        <ul>
            @foreach (var curve in _star.LightCurves)
            {
                <li>@curve.Value</li>
            }
        </ul>
    }
                   
}

@code {
    [Parameter]
    public int StarId { get; set; }

    private StarDTO? _star { get; set; } = null;
    
    protected override async Task OnInitializedAsync()
    {
        _star = await StarService.GetStarAsync(StarId);
    }

}