@page "/Stars/Drafts/{Id:int}"
@inject IStarService StarService
<h3>Používateľská hviezda</h3>

@if (StarDraft is null)
{
    <Loader/>
}
else
{
    <h4>Oznacenie: @StarDraft.Name</h4>
    <h4>Ra: @StarDraft.Ra</h4>
    <h4>Dec: @StarDraft.Dec</h4>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private StarDraft? StarDraft { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await StarService.GetDraft(Id);
        if (response.Success)
        {
            StarDraft = response.Data;
        }
    }

}