<div class="alert alert-@type" role="alert">
    @ChildContent
</div>

@code {

    [Parameter]
    public string type { get; set; } = "success";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}