<div class="alert alert-@type my-3" role="alert">
    @ChildContent
</div>

@code {

    [Parameter]
    public string type { get; set; } = Keywords.AlertSuccess;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}