<div class="row">
    @foreach (var curve in Curves)
    {
        <SingleCurve Curve="@curve" CurveLayout="@CurveLayout" Display="@(FilterId == curve.StarId || FilterId == Keywords.DefaultFilter)"/>
    }
</div>

@code {

    [Parameter]
    public List<LightCurveDTO> Curves { get; set; }

    [Parameter]
    public string CurveLayout { get; set; }

    [Parameter]
    public int FilterId { get; set; } = Keywords.DefaultFilter;

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }

}