<div class="tooltip-wrapper">
    <span>@Text @Appendix</span>
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Appendix { get; set; } = string.Empty;

}