@page "/User/{userId}"
@inject IUserService UserService

@if (_user is null)
{
    <h3>Loading user..</h3>
}
else
{
    <h3>@_user.Name</h3>
}

@code {

    [Parameter]
    public string UserId { get; set; }

    private UserDTO? _user = null;

    protected override async Task OnInitializedAsync()
    {
        _user = await UserService.UserSingleGet(UserId);
    }

}