@page "/Device/Add"
@inject IDeviceService DeviceService
<h3>Pridať nové zariadenie</h3>

@if (!succeeded)
{
    <EditForm Model="_deviceAdd" OnValidSubmit="HandleSubmit">

        <DataAnnotationsValidator/>

        <div class="my-3">
            <label for="name" class="form-label">
                Názov zariadenia
            </label>
            <InputText id="name" @bind-Value="_deviceAdd.Name" class="form-control"></InputText>
        </div>
        <ValidationSummary></ValidationSummary>
        <button class="btn btn-primary" type="submit">Pridať zariadenie</button>

    </EditForm>
}
else
{
    <Alert type="@Keywords.AlertSuccess">
        Zariadenie @_deviceAdd.Name bolo vytvorené.
    </Alert>
}

@code {
    private DeviceAdd _deviceAdd { get; set; } = new();
    private bool succeeded { get; set; } = false;

    private async Task HandleSubmit()
    {
        var result = await DeviceService.DevicePost(_deviceAdd);
        if (result == true)
        {
            succeeded = true;
        }
    }

}