@page "/Search/{SearchQuery}"
@inject IStarService StarService
<h3>Výsledky vyhľadávania</h3>

@if (Message is not null)
{
    <Alert type="@MessageType">
        @Message
    </Alert>
}

@if (Results is not null)
{
    <section>
        <ResponsiveTable>
            <tbody>
            @foreach (var result in Results)
            {
                <tr>
                    <td>
                        <a href="@Endpoints.ClientStarSingleGet/@result.Id">@result.Name</a>
                    </td>
                </tr>
            }
            </tbody>
        </ResponsiveTable>
    </section>
}

@code {

    [Parameter]
    public string SearchQuery { get; set; } = string.Empty;

    private string? Message { get; set; }
    private List<Star>? Results { get; set; }

    private string? MessageType { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (SearchQuery.Length < 3)
        {
            Message = "Dĺžka dotazu musí byť aspoň 3 znaky.";
        }
        else
        {
            var response = await StarService.Search(SearchQuery);
            if (response.Success)
            {
                Results = response.Data;
            }
            Message = response.Message;
            MessageType = MessageHelper.GetAlertType(response.Success);
        }
    }

}