@page "/ObservationLogs"
@inject ILightCurveService LightCurveService
<h3>Pozorovacie denníky</h3>

@if (Logs is null)
{
    <Loader/>
}
else
{
    <section>
        @if (Logs.Count == 0)
        {
            <h4>Neexistujú žiadne denníky.</h4>
        }
        else
        {
            <ul>
                @foreach (var log in Logs)
                {
                    <li><a href="@Endpoints.ClientObservationLogSingleGet/@log.User.Id">@log.User.Name</a> (@log.Contributions príspevkov)</li>
                }
            </ul>
        }
    </section>
}

@code {
    private List<ObservationLogDTO>? Logs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await LightCurveService.GetObservationLogList();
        if (response.Success)
        {
            Logs = response.Data;
        }
    }

}