@page "/ObservationLogs/{Id}"
@using VarAstroMasters.Client.Pages.LightCurves.components
@inject ILightCurveService LightCurveService

@if (log is null)
{
    <Loader/>
}
else
{
    <h3>
        Pozorovací denník @log.User.Name
    </h3>
    <section>
        @if (_lightCurves is null)
        {
            <Loader/>
        }
        else
        {
            if (log.Curves.Count == 0)
            {
                <p>Tento denník nemá žiadne pozorovania.</p>
            }
            else
            {
                <LightCurveListWithValues Curves="@_lightCurves"/>
            }
        }
    </section>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private ObservationLogDetailDTO? log { get; set; }
    private List<LightCurveDTO>? _lightCurves { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await LightCurveService.GetObservationLog(Id);
        if (response.Success)
        {
            log = response.Data;
            _lightCurves = response.Data.Curves;
            GetValuesForCurves();
        }
    }

    private async Task GetValuesForCurves()
    {
        foreach (var curve in _lightCurves)
        {
            var response = await LightCurveService.LightCurveSingleValuesGet(curve.Id);
            if (response.Success)
            {
                curve.Values = response.Data;
                StateHasChanged();
            }
        }
    }


}