@page "/Search"
@inject IStarService StarService
<h3>Vyhľadávanie</h3>

<section>
    <EditForm Model="_query" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator/>
        <div class="my-3">
            <label for="Query" class="form-label">
                Dotaz
            </label>
            <InputText id="Query" @bind-Value="_query.Query" class="form-control"></InputText>
            <ValidationMessage For="() => _query.Query"></ValidationMessage>
        </div>
        <button class="btn btn-primary" type="submit">Vyhľadať</button>
    </EditForm>
</section>
@if (_results is not null)
{
    <section>
        <h4>Výsledky</h4>

        TODO
    </section>
}

@code {
    private SearchQuery _query { get; set; } = new();
    private List<string> _results = null;

    private void HandleSubmit()
    {
        StarService.Search(_query.Query);
    }

}